<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="uiabot_mini_gazebo_differential">>
<xacro:include filename="$(find uiabot_mini_description)/urdf/uiabot_differential.xacro" />
<xacro:include filename="uiabot_gazebo_common.urdf" />

  <!-- Wheel friction -->
  <gazebo reference="front_left_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <fdir1>0 1 0</fdir1>
  </gazebo>
  <gazebo reference="front_right_wheel">
    <mu1>1.0</mu1>
    <mu2>1.0</mu2>
    <fdir1>0 1 0</fdir1>
  </gazebo>
  <!-- Caster wheel - low friction for free rolling -->
  <gazebo reference="caster_link">
    <mu1>0.1</mu1>
    <mu2>0.1</mu2>
  </gazebo>

  <!-- Differential drive controller -->
  <gazebo>
    <plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
      <left_joint>front_left_wheel_joint</left_joint>
      <right_joint>front_right_wheel_joint</right_joint>
      <wheel_separation>0.1975</wheel_separation>
      <wheel_radius>${wheel_radius}</wheel_radius>
      <odom_publish_frequency>30</odom_publish_frequency>
      <topic>cmd_vel</topic>
      <odom_topic>/wheel_encoder_odometry</odom_topic>
      <tf_topic>tf</tf_topic>
      <frame_id>odom</frame_id>
      <child_frame_id>base_link</child_frame_id>
    </plugin>
  </gazebo>

</robot>