### ekf config file ### copied and modified from robot_localization tutorial
ekf_filter_node:
    ros__parameters:
        frequency: 30.0     # Update frequency of the filter (in Hz)
        sensor_timeout: 2.0 # Increased from 0.1 to handle intermittent IMU data
        two_d_mode: true    # If true, z, roll, and pitch are ignored
        
        # Reject sensor messages with invalid covariances
        reject_invalid_sensor_data: true

        map_frame: map
        odom_frame: odom
        base_link_frame: base_link

        odom0: /wheel_encoder_odometry
        odom0_config: [false, false, false, # x, y, z
                       false, false, false, # roll, pitch, yaw
                       true,  false, false, # vx, vy, vz
                       false, false, true,  # vroll, vpitch, vyaw
                       false, false, false] # ax, ay, az
        
        odom0_queue_size: 2 # For high-frequency data or a low frequency parameter value,
                            # then you may want to increase
                            # the size of the subscription queue so that more measurements are fused.
        
        odom0_differential: false # If true, the filter will compute velocity from position data

        imu0: /bno055/imu
        imu0_config: [false, false, false, # x, y, z
                      false, false, true,  # roll, pitch, yaw
                      false, false, false, # vx, vy, vz,
                      false, false, true,  # vroll, vpitch, vyaw
                      false, false, false] # ax, ay, az - DISABLED to prevent drift
        
        imu0_differential: false # If true, the filter will compute angular velocity from orientation data
        imu0_queue_size: 5
        imu0_remove_gravitational_acceleration: true


        # Process noise covariance (15 elements flattened diagonal)
        process_noise_covariance: [0.05,  0.05, 0.1,    # x, y, z
                                    0.1,  0.1,  0.2,    # roll, pitch, yaw
                                    0.1,  0.1,  0.1,    # vx, vy, vz
                                    0.1,  0.1,  0.2,    # vroll, vpitch, vyaw
                                    0.5,  0.5,  0.5     # ax, ay, az
                                    ]

        # Initial estimate covariance (start conservative / uncertain)
        initial_estimate_covariance: [1.0, 1.0, 1.0,
                                      1.0, 1.0, 1.0,
                                      1.0, 1.0, 1.0,
                                      1.0, 1.0, 1.0,
                                      1.0, 1.0, 1.0
                                        ]