<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Instantiate four wheels using the common wheel link macro -->
  <xacro:property name="wheel_ixx" value="1e-6"/>
  <xacro:property name="wheel_ixy" value="0"/>
  <xacro:property name="wheel_ixz" value="0"/>
  <xacro:property name="wheel_iyy" value="1e-6"/>
  <xacro:property name="wheel_iyz" value="0"/>
  <xacro:property name="wheel_izz" value="1e-6"/>
  <xacro:property name="wheel_mass" value="0.5"/>
  
<xacro:base_link
  name="base_link"
  link_mesh="package://uiabot_mecanum/meshes/base_link_mecanum.STL"
  wheel_radius="${wheel_radius}"
  joint_origin="0 0.0 ${wheel_radius}"
  joint_rpy="0 0 0"/>

<xacro:wheel_link
  name="front_left_wheel"
  link_mesh="package://uiabot_mecanum/meshes/Mecanum Wheel Left.STL"
  wheel_radius="${wheel_radius}"
  joint_origin="38.1e-3 102.5e-3 ${wheel_radius}"
  joint_rpy="${-pi/2} 0 0"
  visual_rpy="0 0 0"/>


<xacro:wheel_link
  name="front_right_wheel"
  link_mesh="package://uiabot_mecanum/meshes/Mecanum Wheel Right.STL"
  wheel_radius="${wheel_radius}"
  joint_origin="38.1e-3 -102.5e-3 ${wheel_radius}"
  joint_rpy="${-pi/2} 0 0"
  visual_rpy="0 0 0"/>

<xacro:wheel_link
  name="rear_left_wheel"
  link_mesh="package://uiabot_mecanum/meshes/Mecanum Wheel Right.STL"
  wheel_radius="${wheel_radius}"
  joint_origin="-36.4e-3 102.5e-3 ${wheel_radius}"
  joint_rpy="${-pi/2} 0 0"
  visual_rpy="${pi} 0 0"/>


<xacro:wheel_link
  name="rear_right_wheel"
  link_mesh="package://uiabot_mecanum/meshes/Mecanum Wheel Left.STL"
  wheel_radius="${wheel_radius}"
  joint_origin="-36.4e-3 -102.5e-3 ${wheel_radius}"
  joint_rpy="${-pi/2} 0 0"
  visual_rpy="${pi} 0 0"/>

</robot>
